= simple_form_for @game do |f|
  -if @game.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@game.errors.count, "error")} prohibited this #{Game.name.titleize} from being saved:"
      %ul
        - @game.errors.full_messages.each do |msg|
          %li= msg  
          
  = f.fields_for :game do |builder|
    = builder.fields_for :player do |bn| 
      = bn.input :player1
      = bn.input :player2


  .actions
    = f.button :submit
