= simple_form_for @player do |f|

  = f.input :name
  = f.input :secret_word

  -if @player.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@player.errors.count, "error")} prohibited this #{Player.name.titleize} from being saved:"
      %ul
        - @player.errors.full_messages.each do |msg|
          %li= msg  


  .actions
    = f.button :submit